/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.navp{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 350;
    line-height: 1.7em;
    color: #999;
    text-transform: capitalize;
}

.nava,
.nava:hover,
.nava:focus {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

.shift{
    color: #fff;
    background-color: #245456;
    border-color: #17a2b8;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.shift:hover{
    background-color: #d85966;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 90%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 216px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #1A2035;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #245456;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #245456;
    color: #fff;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    
    background: #245456;
    height: 3.8rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1rem 1rem 0 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #6d7fcc;
}
 
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.listdrop {
    margin: 0 5px 0 5px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background-color: #6d7fcc;
}
ul ul a:hover {
    background-color: red;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #245456 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.NextMovement{
	position:absolute;
	height:60px;
	width:30px;
	top:39%;
	right:0px;
	border:0 none;
	background-color: #fff;
	text-align:center;
	font-size: 36px;
	font-family: 'FontAwesome';
	color:#333;
	z-index:5;
	outline: none;
	box-shadow: 0px 0px 10px #3333331c;
	cursor: pointer;
  }

  .NextMovement:before{
	content:'\f105';
  }

  .PrevMovement {
	position:absolute;
	height:60px;
	width:30px;
	top:39%;
	left:0px;
	border:0 none;
	background-color: #fff;
	text-align:center;
	font-size: 36px;
	font-family: 'FontAwesome';
	color:#333;
	z-index:5;
	outline: none;
	box-shadow: 0px 0px 10px #3333331c;
	cursor: pointer;
  }
  .PrevMovement:before{
	content:'\f104';
  }